@import url("styles_calendar.css");


.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    background-color: #ccc;
    border: 1px solid #ccc;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 2em;
  }

  h1 {
    font-size: 2.5em;
    width: 100%;
    text-align:center;
  }

  th {
    height: 2em;
    font-size: 1.5em;
  }

  td {
    font-size: 1em;
    height: 8em;
    width: 14.3%;
    vertical-align: top;
  }

  tr:nth-child(even) {
    background-color: #0077c61e;
  }

  .days {
    background-color: #fafafa;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #ccc;
  }

  .date{
    background-color: #fafafa;
    min-height: 120px;
    padding: 6px;
    border: 1px solid #e0e0e0;
    position: relative; }

    