{% extends "calendar.html" %}

{% block title %}List Calendar{% endblock %}

{% block body %}

{{ super() }}

<h2>25 Oct 2025 – 13 Dec 2025</h2>
<p>[ Today | Week | Month | Agenda ]</p>
<hr>

<h3>Sat, 25 Oct</h3>
<table border="0">
  <tr><td>Due 23:59</td><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td></tr>
  <tr><td>Due 23:59</td><td>Praesent vitae nisi sit amet lorem tincidunt sagittis.</td></tr>
  <tr><td>Due 23:59</td><td>Curabitur non libero at odio imperdiet interdum.</td></tr>
  <tr><td>Due 23:59</td><td>Aliquam tincidunt mi nec sapien venenatis, id sodales erat viverra.</td></tr>
  <tr><td>Due 23:59</td><td>Sed blandit orci nec magna pretium bibendum.</td></tr>
  <tr><td>Due 23:59</td><td>Integer ultricies augue a massa bibendum, nec gravida leo luctus.</td></tr>
</table>

<br>
<h3>Sat, 1 Nov</h3>
<table border="0">
  <tr><td>Due 23:59</td><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td></tr>
  <tr><td>Due 23:59</td><td>Donec ac magna in urna dapibus scelerisque.</td></tr>
  <tr><td>Due 23:59</td><td>Morbi tincidunt enim ac turpis bibendum feugiat.</td></tr>
  <tr><td>Due 23:59</td><td>Etiam id leo sed justo fermentum suscipit.</td></tr>
  <tr><td>Due 23:59</td><td>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</td></tr>
  <tr><td>Due 23:59</td><td>Maecenas gravida elit at ligula efficitur, vitae convallis magna facilisis.</td></tr>
</table>

<br>
<h3>Sat, 8 Nov</h3>
<table border="0">
  <tr><td>Due 23:59</td><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td></tr>
  <tr><td>Due 23:59</td><td>Ut nec erat at augue venenatis pretium ac nec orci.</td></tr>
  <tr><td>Due 23:59</td><td>Suspendisse potenti. Curabitur sodales, felis at vulputate blandit.</td></tr>
</table>

{% endblock %}
