{% extends "base.html" %}

{% block title %}Courses{% endblock %}

{% block body %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_courses.css') }}">{% endblock %}
<h1>Course Completion</h1>
<h2>GPA: </h2>
<div class="course-table">
    <table style="width:85%;">
        <tr>
            <th style="height:4em;">Course</th>
            <th>Grade %</th>
            <th>Completion %</th>
        </tr>
        <tr>
            <td style="height:2em;"><a href="course">Course</a></td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td style="height:2em;"><a href="course">Course</a></td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td style="height:2em;"><a href="course">Course</a></td>
            <td>Grade %</td>
            <td>Completion %</td>
        </tr>
        <tr>
            <td style="height:2em;"><a href="course">Course</a></td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td style="height:2em;"><a href="course">Course</a></td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td style="height:2em;"><a href="course">Course</a></td>
            <td>Grade %</td>
            <td>Completion %</td>
        </tr>
        <tr>
            <td style="height:2em;"><a href="course">Course</a></td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td style="height:2em;"><a href="course">Course</a></td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td style="height:2em;"><a href="course">Course</a></td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
    </table>
</div>
{% endblock %}