{% extends "base.html" %}


{% block body %}

<label for="official-view">Official View</label>
<input type="checkbox" id="official-view" name="official-view" value="official-view">
    
<div class="important-dropdown">
    <button class="important-button">Important</button>
    <div class="important-dropdown-items">
        <ul>
            <li>Starred assignments or resources</li>
        </ul>
    </div>
</div>
<div class="dated-dropdown">
    <button class="dated-button">Assignments with Due Dates</button>
    <div class="dated-dropdown-items">
        <ul>
            <li>Assignments with Due Dates in Order</li>
        </ul>
    </div>
</div>

<div class="undated-dropdown">
    <button class="undated-button">Resources and Assignments Without Due Dates</button>
    <div class="undated-dropdown-items">
        <ul>
            <li>Assignments with due dates in order based on custom due dates</li>
        </ul>
    </div>
</div>

<div class="graded-dropdown">
    <button class="graded-button">Assignments That Gave Been Graded</button>
    <div class="graded-dropdown-items">
        <ul>
            <li>Graded assignments</li>
        </ul>
    </div>
</div>

{% endblock %}