<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!coursenum</title>
</head>
<body>
    <nav>
        <a href="home"><button>Home</button></a>
        <a href="courses.html"><button>Courses</button></a>
        <a href="monthly_Cal.html"><button>Calendar</button></a>
        <a href="https://b2b0c970-8c97-44e8-bc56-a029b47c90c1.iad.login.instructure.com/?goto=https%3A%2F%2Fb2b0c970-8c97-44e8-bc56-a029b47c90c1.iad.login.instructure.com%2Fam%2Foauth2%2Falpha%2Fauthorize%3Fauthentication_provider%3D79175795-479a-4154-8335-43264065b1fb%26client_id%3Dcanvas-prod-iad%26nonce%3Db50a6a9609bfb5e8cb6be7d793be7d9bc577c262027e36fe%26org_id%3Db2b0c970-8c97-44e8-bc56-a029b47c90c1%26redirect_uri%3Dhttps%3A%2F%2Fsso.canvaslms.com%2Flogin%2Foauth2%2Fcallback%26response_type%3Dcode%26scope%3Dopenid%2520profile%2520email%26state%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhYWNfaWQiOjcwMDAwMDAwMDAxNzUyLCJub25jZSI6ImI1MGE2YTk2MDliZmI1ZThjYjZiZTdkNzkzYmU3ZDliYzU3N2MyNjIwMjdlMzZmZSIsImhvc3QiOiJjYW52YXMuaW5zdHJ1Y3R1cmUuY29tIiwidGFyZ2V0X2F1dGhfcHJvdmlkZXIiOiI3OTE3NTc5NS00NzlhLTQxNTQtODMzNS00MzI2NDA2NWIxZmIiLCJleHAiOjE3NjEzNjA2NDN9.0nan3uLJiSH1V3565L-utH4GSpuOH6An7_x-sVtQZsM%26target_domain%3Dhttps%3A%2F%2Fcanvas.instructure.com&realm=/alpha"><button>Canvas</button></a>
        <input type="text" placeholder="Search">
        <a href="settings.html"><button>Settings</button></a>
    </nav>

    <label for="official-view">Official View</label>
    <input type="checkbox" id="official-view" name="official-view" value="official-view">
    
    <div class="important-dropdown">
        <button class="important-button">Important</button>
        <div class="important-dropdown-items">
            <ul>
                <li>Starred assignments or resources</li>
            </ul>
        </div>
    </div>
    <div class="dated-dropdown">
        <button class="dated-button">Assignments with Due Dates</button>
        <div class="dated-dropdown-items">
            <ul>
                <li>Assignments with Due Dates in Order</li>
            </ul>
        </div>
    </div>

    <div class="undated-dropdown">
        <button class="undated-button">Resources and Assignments Without Due Dates</button>
        <div class="undated-dropdown-items">
            <ul>
                <li>Assignments with due dates in order based on custom due dates</li>
            </ul>
        </div>
    </div>

    <div class="graded-dropdown">
        <button class="graded-button">Assignments That Gave Been Graded</button>
        <div class="graded-dropdown-items">
            <ul>
                <li>Graded assignments</li>
            </ul>
        </div>
    </div>

    <footer>
        <p>Created by: ___, ___, ____, ____</p>
        <a href="home.html">Home</a>
        <a href="monthly_Cal.html">Calendar</a>
        <a href="courses.html">Courses</a>
        <a href="settings.html">Settings</a>
    </footer>
</body>
</html>