{% extends "base.html" %}

{% block title %}Courses{% endblock %}

{% block body %}
<h1>Course Completion</h1>
<h2>GPA</h2>
<div class="course-table">
    <table>
        <tr>
            <th>Course</th>
            <th>Grade %</th>
            <th>Completion %</th>
        </tr>
        <tr>
            <td>Course</td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td>Course</td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td>Course</td>
            <td>Grade %</td>
            <td>Completion %</td>
        </tr>
        <tr>
            <td>Course</td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td>Course</td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td>Course</td>
            <td>Grade %</td>
            <td>Completion %</td>
        </tr>
        <tr>
            <td>Course</td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td>Course</td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
        <tr>
            <td>Course</td>
            <td>Grade</td>
            <td>Completion</td>
        </tr>
    </table>
</div>
{% endblock %}