{% extends "base.html" %} 


{% block body %}
<!--Info in Canvas API for getting announcements-->
<!--url:GET|/api/v1/announcements-->
<section id="announcements">
    <h2>Announcements</h2>
</section>

<!--info in Canvas API for getting student courses-->
<!--url:GET|/api/v1/courses
    enrollment_type Student-->
<section id="courses">
    <h2>Courses</h2>
    <figure class="course">
        <img src="https://picsum.photos/200/200" alt="course 1 image">
        <p>course 1</p>
    </figure>
    <figure class="course">
        <img src="https://picsum.photos/200/200" alt="course 1 image">
        <p>course 2</p>
    </figure>
    <figure class="course">
        <img src="https://picsum.photos/200/200" alt="course 1 image">
        <p>course 3</p>
    </figure>
    <figure class="course">
        <img src="https://picsum.photos/200/200" alt="course 1 image">
        <p>course 4</p>
    </figure>
    <figure class="course">
        <img src="https://picsum.photos/200/200" alt="course 1 image">
        <p>course 5</p>
    </figure>
    <figure class="course">
        <img src="https://picsum.photos/200/200" alt="course 1 image">
        <p>course 6</p>
    </figure>
    <figure class="course">
        <img src="https://picsum.photos/200/200" alt="course 1 image">
        <p>course 7</p>
    </figure>
    <figure class="course">
        <img src="https://picsum.photos/200/200" alt="course 1 image">
        <p>course 8</p>
    </figure>
    <figure class="course">
        <img src="https://picsum.photos/200/200" alt="course 1 image">
        <p>course 9</p>
    </figure>
</section>
{% endblock %}