{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block body%}

<div class="profile-dropdown">
    <button class="profile-button">Profile</button>
    <div class="profile-dropdown-content">
        <img src="https://picsum.photos/100/100" alt="profile photo">
        <p>Name</p>
        <p>Contact</p>
    </div>
</div>
<div class="aboutus-dropdown">
    <button class="aboutus-button">About Us</button>
    <div class="aboutus-dropdown-items">
        <button class="api-dropdown">API</button>
        <div class="api-dropdown-items">
            <p>Current: ****</p>
            <button class="delete">Delete</button>
            <button class="addnew">Add New</button>
        </div>
        <h2>Copyrights</h2>
        <h2>Other</h2>
    </div>
</div>
{% endblock %}