{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{{ super() }}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_settings.css') }}">{% endblock %}

{% block body%}

<div class="profile-dropdown">
    <button class="profile-button">Profile</button>
    <div class="profile-dropdown-content">
        <img src="https://picsum.photos/100/100" alt="profile photo">
        <p>Name</p>
        <p>Contact</p>
        <button class="logout">Log Out</button>
    </div>
</div>

<div class="aboutus">
    <h2>API</h2>
    <div class="api-dropdown-items">
        <table>
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><p class="current-API">Current API: ****</p></td>
                <td><button class="delete">Delete</button></td>
            </tr>
            <tr>
                <td><input type="text" id="addnew" name="addnew"></td>
                <td><button class="addnew">Add New</button></td>
            </tr>
        </table>
    </div>
    <h2>Copyrights</h2>
    <h2>Other</h2>

</div>

{% endblock %}