<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <nav>
        <a href="home_2.html"><button>Home</button></a>
        <a href="courses.html"><button>Courses</button></a>
        <a href="calendar.html"><button>Calendar</button></a>
        <a href="https://b2b0c970-8c97-44e8-bc56-a029b47c90c1.iad.login.instructure.com/?goto=https%3A%2F%2Fb2b0c970-8c97-44e8-bc56-a029b47c90c1.iad.login.instructure.com%2Fam%2Foauth2%2Falpha%2Fauthorize%3Fauthentication_provider%3D79175795-479a-4154-8335-43264065b1fb%26client_id%3Dcanvas-prod-iad%26nonce%3Db50a6a9609bfb5e8cb6be7d793be7d9bc577c262027e36fe%26org_id%3Db2b0c970-8c97-44e8-bc56-a029b47c90c1%26redirect_uri%3Dhttps%3A%2F%2Fsso.canvaslms.com%2Flogin%2Foauth2%2Fcallback%26response_type%3Dcode%26scope%3Dopenid%2520profile%2520email%26state%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhYWNfaWQiOjcwMDAwMDAwMDAxNzUyLCJub25jZSI6ImI1MGE2YTk2MDliZmI1ZThjYjZiZTdkNzkzYmU3ZDliYzU3N2MyNjIwMjdlMzZmZSIsImhvc3QiOiJjYW52YXMuaW5zdHJ1Y3R1cmUuY29tIiwidGFyZ2V0X2F1dGhfcHJvdmlkZXIiOiI3OTE3NTc5NS00NzlhLTQxNTQtODMzNS00MzI2NDA2NWIxZmIiLCJleHAiOjE3NjEzNjA2NDN9.0nan3uLJiSH1V3565L-utH4GSpuOH6An7_x-sVtQZsM%26target_domain%3Dhttps%3A%2F%2Fcanvas.instructure.com&realm=/alpha"><button>Canvas</button></a>
        <input type="text" placeholder="Search">
        <a href="settings.html"><button>Settings</button></a>
    </nav>
    <div class="profile-dropdown">
        <button class="profile-button">Profile</button>
        <div class="profile-dropdown-content">
            <img src="https://picsum.photos/100/100" alt="profile photo">
            <p>Name</p>
            <p>Contact</p>
        </div>
    </div>
    <div class="aboutus-dropdown">
        <button class="aboutus-button">About Us</button>
        <div class="aboutus-dropdown-items">
            <button class="api-dropdown">API</button>
            <div class="api-dropdown-items">
                <p>Current: ****</p>
                <button class="delete">Delete</button>
                <button class="add-new">Add New</button>
            </div>
            <h2>Copyrights</h2>
            <h2>Other</h2>
        </div>
    </div>
</body>
</html>