{% extends "base.html" %}{% block title %}Changed{% endblock %}{% block content %}

<form method="POST">
  <h3 align="center">Sign Up</h3>

  <div class="form-group">
    <div class="api-dropdown">
      <button class="api-button">How to get API Key</button>
      <div class="api-dropdown-items">
        <ul>
          <li>
            <p>Go to this </p>
            <a href="https://byui.instructure.com/profile/settings">link.</a>
          </li>
          <li>
            <p>Click the blue "New Access Token"</p>
          </li>
          <li>
            <p>Fill out the form that appears with the experation date being as far out as possible.</p>
          </li>
          <li>
            <p>Click Generate Token</p>
          </li>
          <li>
            <p>Make sure to save the Token somewhere safe!</p>
          </li>
        </ul>
      </div>
    </div>
    <label for="APIKey">API Key</label>
  </div>

  <div class="form-group">
    <label for="Email">Email Address</label>
    <input type="email" class="form-control" id="Email"
           name="email" placeholder="Enter email" required>
  </div>

  <div class="form-group">
    <label for="FirstName">First Name</label>
    <input type="text" class="form-control" id="firstName"
           name="firstName" placeholder="Enter First Name" required>
  </div>

  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" class="form-control" id="password1"
           name="password1" placeholder="Enter password" required>
  </div>

  <div class="form-group">
    <label for="password2">Confirm Password</label>
    <input type="password" class="form-control" id="password2"
           name="password2" placeholder="Confirm password" required>
  </div>

  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
